extends _template.pug

include ../components/b-modal-alerts/b-modal-alerts

block head
  head
    +head(head.post)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content
    .container
      .row
        .col-xl-8
          button.btn.btn-primary(type="button" data-toggle="modal" data-target="#alert1") Alert danger
          button.btn.btn-primary(type="button" data-toggle="modal" data-target="#alert2") Alert success
          button.btn.btn-primary(type="button" data-toggle="modal" data-target="#alert3") Alert warning
          button.btn.btn-primary(type="button" data-toggle="modal" data-target="#alert4") Alert light
          +b-modal-alerts-danger()
          +b-modal-alerts-success()
          +b-modal-alerts-warning()
          +b-modal-alerts-light()
