extends _template.pug

include ../components/b-welcome/b-welcome
include ../components/b-map/b-map

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Звернення №75')(class="header_inner-page")

block content
  main.l-main-content

    +b-map()

    .container.mt-4.pt-1
      .row
        .col-lg-4.col-md-6
          .b-card
            .b-card__media.row
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/1.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/2.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/3.jpg", alt="foto")
            .b-card__header
              .row.justify-content-between.align-items-center
                .b-card__name.col-auto Звернення № 75
                .col-auto
                  .b-card__label.badge.badge-success В роботі
            .b-card__desrip
              span.b-card__title Адреса:
              span.b-card__info  вул. Європейська, 53А
            .row.mb-2
              .col
                != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic-link', iconWidth: '16', iconHeight: '16'})
                a.b-card__link(href="#") Показати на мапі
            .b-card__title Звернення:
            .b-card__info.b-card__info_lg Прошу перевірити законність реклами
            a.btn.btn-default.w-100(href="#") Переглянути

        .col-lg-4.col-md-6
          .b-card
            .b-card__media.row
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/1.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/2.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/3.jpg", alt="foto")
            .b-card__header
              .row.justify-content-between.align-items-center
                .b-card__name.col-auto Звернення № 74
                .col-auto
                  .b-card__label.badge.badge-danger Закрите
            .b-card__desrip
              span.b-card__title Адреса:
              span.b-card__info  вул. Європейська, 53А
            .row.mb-2
              .col
                != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic-link', iconWidth: '16', iconHeight: '16'})
                a.b-card__link(href="#") Показати на мапі
            .b-card__title Звернення:
            .b-card__info.b-card__info_lg Доброго дня,чи є дозвіл для розміщення реклами у центральній частині міста,на фасаді будинку
            a.btn.btn-default.w-100(href="#") Переглянути

        .col-lg-4.col-md-6
          .b-card
            .b-card__media.row
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/1.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/2.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/3.jpg", alt="foto")
            .b-card__header
              .row.justify-content-between.align-items-center
                .b-card__name.col-auto Звернення № 73
                .col-auto
                  .b-card__label.badge.badge-warning На розгляді
            .b-card__desrip
              span.b-card__title Адреса:
              span.b-card__info  вул. Європейська, 53А
            .row.mb-2
              .col
                != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic-link', iconWidth: '16', iconHeight: '16'})
                a.b-card__link(href="#") Показати на мапі
            .b-card__title Звернення:
            .b-card__info.b-card__info_lg Прошу перевірити законність реклами
            a.btn.btn-default.w-100(href="#") Переглянути

        .col-lg-4.col-md-6
          .b-card
            .b-card__media.row
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/1.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/2.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/3.jpg", alt="foto")
            .b-card__header
              .row.justify-content-between.align-items-center
                .b-card__name.col-auto Звернення № 75
                .col-auto
                  .b-card__label.badge.badge-success В роботі
            .b-card__desrip
              span.b-card__title Адреса:
              span.b-card__info  вул. Європейська, 53А
            .row.mb-2
              .col
                != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic-link', iconWidth: '16', iconHeight: '16'})
                a.b-card__link(href="#") Показати на мапі
            .b-card__title Звернення:
            .b-card__info.b-card__info_lg Прошу перевірити законність реклами
            a.btn.btn-default.w-100(href="#") Переглянути

        .col-lg-4.col-md-6
          .b-card
            .b-card__media.row
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/1.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/2.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/3.jpg", alt="foto")
            .b-card__header
              .row.justify-content-between.align-items-center
                .b-card__name.col-auto Звернення № 74
                .col-auto
                  .b-card__label.badge.badge-danger Закрите
            .b-card__desrip
              span.b-card__title Адреса:
              span.b-card__info  вул. Європейська, 53А
            .row.mb-2
              .col
                != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic-link', iconWidth: '16', iconHeight: '16'})
                a.b-card__link(href="#") Показати на мапі
            .b-card__title Звернення:
            .b-card__info.b-card__info_lg Доброго дня,чи є дозвіл для розміщення реклами у центральній частині міста,на фасаді будинку
            a.btn.btn-default.w-100(href="#") Переглянути

        .col-lg-4.col-md-6
          .b-card
            .b-card__media.row
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/1.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/2.jpg", alt="foto")
              .b-card__img.col-4
                img.img-scale(src="assets/media/content/b-card/105x81/3.jpg", alt="foto")
            .b-card__header
              .row.justify-content-between.align-items-center
                .b-card__name.col-auto Звернення № 73
                .col-auto
                  .b-card__label.badge.badge-warning На розгляді
            .b-card__desrip
              span.b-card__title Адреса:
              span.b-card__info  вул. Європейська, 53А
            .row.mb-2
              .col
                != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic-link', iconWidth: '16', iconHeight: '16'})
                a.b-card__link(href="#") Показати на мапі
            .b-card__title Звернення:
            .b-card__info.b-card__info_lg Прошу перевірити законність реклами
            a.btn.btn-default.w-100(href="#") Переглянути

      .text-center
        button.btn.btn-secondary(type="button") Завантажити ще
          != pugHelpers.Icon.call(locals, {iconName: 'reload', className: 'ic fill-primary', iconWidth: '24', iconHeight: '24'})


  // end .main-content
  |
  |

block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
