extends _template.pug

include ../components/b-appeal/b-appeal

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Звернення №75')(class="header_inner-page")


block content
  main.l-main-content

    +b-appeal()


  // end .main-content
  |
  |


block scripts
  // Slider
  script(src="assets/plugins/slick/slick.min.js")

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')
