mixin b-map()

  .b-map
    .b-map__main
      .b-map__map#map-main
      .b-map-search.container
        form.b-map-search__form
          .row.align-items-center
            .col
              input.b-map-search__input(type="text" placeholder="Пошук за адресою")
            .col-auto
              button.b-map-search__btn.btn.btn-secondary Знайти

      .b-map-btns
        .container
          .b-map-btns__inner
            button.b-map-btns__link.btn.js-map-toggle(type="button") Фільтри
              != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic ic_fix-right svg-fill-primary', iconWidth: '18', iconHeight: '16'})
            button.b-map-btns__link.btn(type="button") Додати
              != pugHelpers.Icon.call(locals, {iconName: 'add', className: 'ic svg-fill-primary', iconWidth: '24', iconHeight: '24'})

    .b-map-filter
      .b-map-filter__inner.row.flex-md-row-reverse
        .b-map-filter__btns.col-md-6
          .b-map-filter__btns-wrap
            button.btn-link(type="button") Обрати всі
          .b-map-filter__btns-wrap
            button.btn-link(type="button") Очистити фільтри

        .col-md-6
          .b-map-filter__section
            .b-map-filter__title Тип конструкції

            .ui-check-group
              .custom-control.custom-checkbox
                input.custom-control-input#shield(type="checkbox" checked)
                label.custom-control-label(for="shield") Щит
              .custom-control.custom-checkbox
                input.custom-control-input#holder(type="checkbox")
                label.custom-control-label(for="holder") Холдер
              .custom-control.custom-checkbox
                input.custom-control-input#lightpost(type="checkbox")
                label.custom-control-label(for="lightpost") Лайтпостер
              .custom-control.custom-checkbox
                input.custom-control-input#promotional(type="checkbox")
                label.custom-control-label(for="promotional") Рекламний елемент
              .custom-control.custom-checkbox
                input.custom-control-input#banner(type="checkbox")
                label.custom-control-label(for="banner") Банер
              .custom-control.custom-checkbox
                input.custom-control-input#selected(type="checkbox")
                label.custom-control-label(for="selected") Вибраний

          .b-map-filter__section
            .b-map-filter__title Площа
            .ui-check-group
              .custom-control.custom-checkbox
                input.custom-control-input#area(type="checkbox" )
                label.custom-control-label(for="area") не зазначена

          .b-map-filter__section
            .b-map-filter__title На мапі

            .ui-check-group
              .custom-control.custom-checkbox
                input.custom-control-input#present(type="checkbox" )
                label.custom-control-label(for="present") присутні
              .custom-control.custom-checkbox
                input.custom-control-input#missing(type="checkbox" )
                label.custom-control-label(for="missing") відсутні


      button.close.js-map-close(type="button" aria-label="Close")
        span(aria-hidden="true") &times;

  // end .b-map
  |
  |
