.b-brand-group {
  margin-top: 35px;

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.b-brand {
  color: $color-main;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin-bottom: 20px;
  &:hover {
    text-decoration: none;
    opacity: 0.5;
    color: $color-main;
  }
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 116px;
    padding: 13px 25px;
    border-radius: 4px;
    transition: all .3s;
  }
  &__media {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin-right: 14px;
  }
  &__img {
    max-width: 60px;
  }
  &__main {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
  }
  .ic {
    position: absolute;
    top: 8px;
    right: 8px;
    fill: #dde1e6;
  }

  &:hover & {
    &__inner {
      box-shadow: 0 12px 40px 0 rgba(95, 95, 95, 0.15);
    }
  }


  @include media-breakpoint-down(lg) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 12px;
  }
}
