mixin b-appeal()

  article.b-appeal
    .container
      h1.b-appeal__title
        span.b-appeal__label.badge.badge-warning На розгляді
        |  Звернення №75
      .row
        .col-md-8
          .b-appeal-carousel
            .b-appeal-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")

            .b-appeal-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 6, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/2.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/3.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/2.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/3.jpg", alt="foto")

          p Вимагаю зобовязати підприємців цим рекламоносіїв заключити договорит з міською радою, або демонтувати їх !

        .col-md-4
          .b-appeal__map#map-main
          .b-appeal-descrip
            .b-appeal-descrip__item
              .b-appeal-descrip__title Адреса
              .b-appeal-descrip__info вул. Європейська, 53А


  // end .b-appeal
  |
  |



mixin b-appeal-full()

  article.b-appeal
    .container
      h1.b-appeal__title
        span.b-appeal__label.badge.badge-success Надано відповідь
        |  Звернення №75
      .row
        .col-md-8
          .b-appeal-carousel
            .b-appeal-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")

            .b-appeal-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 6, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/2.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/3.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/2.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/3.jpg", alt="foto")

          p Вимагаю зобовязати підприємців цим рекламоносіїв заключити договорит з міською радою, або демонтувати їх !

        .col-md-4
          .b-appeal__map#map-main
          .b-appeal-descrip
            .b-appeal-descrip__item
              .b-appeal-descrip__title Адреса
              .b-appeal-descrip__info вул. Європейська, 53А

      section.b-appeal-answer
        h2.b-appeal-answer__title Відповідь:
        .b-appeal-answer__info.bg-gray
          ol
            li Власнику рекламної конструкції, що розміщена на фасаді будівлі пл.Т.Шевченка 1/1 неодноразово скеровувались звернення щодо усунення порушень законодавства про рекламу. Внаслідок невиконання вимог звернень а також рішення виконкому Покровської міської ради, листом від 13.07.2018 №3-21/5659 скеровано інформацію по даному порушенню до відділу контролю за рекламою Управління захисту споживачів Держспоживслужби у Донецькій області, згідно п.46 Типових правил розміщення зовнішньої реклами" постанови КМУ 2067 від 29.12.03 та ЗУ "Про рекламу".
            li Адміністрації торгового центру скеровано листа з розясненням законодавста про рекламу та з проханням привести вивіски та рекламоносії до відповідних норм.


  // end .b-appeal
  |
  |


mixin b-appeal_construction()

  article.b-appeal
    .container
      h1.b-appeal__title № 08.09.15-04
      .row
        .b-appeal-links.col-xl-4.offset-xl-8.col-lg-5.offset-lg-7
          a.b-appeal-links__item(href="javascript:(print());")
            != pugHelpers.Icon.call(locals, {iconName: 'print', className: 'ic', iconWidth: '30', iconHeight: '30'})
            |  Роздрукувати
          a.b-appeal-links__item(href="#")
            != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '30', iconHeight: '30'})
            |  Завантажити (PDF)
      .row
        .col-md-8
          .b-appeal-carousel
            .b-appeal-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/2.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/2.jpg", alt="foto")

            .b-appeal-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 6, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumb/2.jpg", alt="foto")

          p Вимагаю зобовязати підприємців цим рекламоносіїв заключити договорит з міською радою, або демонтувати їх !

        .col-md-4
          .b-appeal__map#map-main
          .b-appeal-descrip
            .b-appeal-descrip__item
              .b-appeal-descrip__title Адреса
              .b-appeal-descrip__info вул. Європейська, 53А
            .b-appeal-descrip__item
              .b-appeal-descrip__title Дозвіл №:
              .b-appeal-descrip__info 08.09.15-04 діє до 09/16/2020
            .b-appeal-descrip__item
              .b-appeal-descrip__title Конструкція:
              .b-appeal-descrip__info Щит
            .b-appeal-descrip__item
              .b-appeal-descrip__title Замовник:
              .b-appeal-descrip__info ПП «Роял-тренд»


  // end .b-appeal
  |
  |


