$color-main: #3b4256;
$color-gray: #f4f7fb;
$color-light: #848e99;
$color-light-2: #c7ccd1;
$red-color: #d0021b;
$orange-color: #f5a623;
$color-primary: #ffe358;
$color-blue: #0a3eb0;

// $green-lh-color: #b8e986;
// $green-color: #6fbd15;
// $green-2-color: #71bc90;
// $red-lh-color: #e53935;
// $red-2-color: #c63749;
// $blue-color: #f4f7fb;

