.b-form-appeal {
  padding-top: 10px;
  &__map {
    height: 313px;
  }
  &__note {
    color: #848e99;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-left: 0;
  }

  @include media-breakpoint-down(lg) {
    &__note {
      padding-left: 15px;
      margin-bottom: 30px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 10px;
  }
}
